* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 15vh;
  overflow: hidden;
}
.wrapper {
  width: 100vw;
}

#carouselExampleControls {
  width: 100vw;
  height: 85vh;
}
#carouselExampleControls div,
#carouselExampleControls div img {
  height: 100%;
  object-fit: cover;
}

.menu-top a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 15vh;
  margin-left: 20px;
}
.logo span {
  display: inline-block;
  width: 10px;
}
header nav.active {
  left: 0%;
}
header nav {
  background-color: white;
  width: 70%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 15vh;
  left: -100%;
  transition: 0.3s;
}
header nav li {
  padding: 20px;
}
.menu-top {
  list-style: none;
}
.carousel-cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 85vh;
  margin: 0 auto;
}
.mainText {
  position: absolute;
  top: 30vh;
  left: 2%;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
}
div.item img {
  margin: 30px 0;
  width: 100%;
}
.pageTitle {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}
.item p,
.item h1 {
  padding: 10px;
}
/* Careers */

table {
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding: 3px;
}
table td,
table th {
  padding: 5px 0;
  width: 33%;
}
table td {
  cursor: pointer;
}
.careers img {
  max-width: 100%;
}

/* Contact */
h1 {
  text-align: center;
}
form {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}
form input,
form textarea {
  padding: 10px;
  width: 90%;
  margin: 10px;
  border: solid grey 1px;
  border-radius: 8px;
  text-indent: 5px;
}
form textarea {
  height: 140px;
}
form button {
  margin-bottom: 20px;
}

.map {
  width: 100vw;
  height: 60vh;
  text-align: center;
  overflow: hidden;
}
.map iframe {
  margin: auto;
}
.socials {
  margin: 20px auto;
  width: 60vw;
}
.social {
  width: 100%;
  padding: 10px;
}
.social img {
  width: 40px;
}
.social span {
  padding: 10px;
}
td.additionalInfromation.activeInformation {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
}
td.additionalInfromation h4 {
  width: 90%;
}
td.additionalInfromation i {
  width: 10%;
}
td.additionalInfromation {
  display: none;
}
i {
  cursor: pointer;
}
.modal {
  display: none;
}
.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 821px) and (orientation: portrait) {
  .logo {
    font-size: 2rem;
  }

  .mainText {
    font-size: 4rem;
  }
  .menu-top a {
    font-size: 1.1rem;
  }
  header nav {
    width: 60%;
    display: flex;
    flex-direction: row;
  }
  table {
    font-size: 1.2rem;
  }
  .imgContainer {
    text-align: center;
    width: 100%;
  }
  .careers img {
    width: 80%;
  }
  .careers .pageTitle {
    margin: 40px auto;
    text-align: center;
  }
}

@media (min-width: 821px) {
  .wrapper.mainPage {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
  }
  .menu-top a {
    font-size: 1.1rem;
  }
  .wrapper {
    max-width: 1220px;
    overflow: hidden;
    margin: 0 auto;
  }

  .mainText {
    font-size: 4rem;
  }
  header nav {
    position: static;
    height: 15vh;
    width: 80%;
  }
  .logo i {
    display: none;
  }
  .logo {
    width: 30%;
  }
  header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 15vh;
  }
  header nav li {
    padding: 0 1.5rem;
    transition: 0.1s;
  }
  header nav li a {
    font-size: 1.2rem;
  }
  header nav li:hover a {
    border-bottom: solid black 1px;
  }
  header.container-fluid {
    display: flex;
    padding-left: 0;
  }
  div.item {
    padding: 20px;
  }
  div.item img,
  div.item p,
  div.item h1 {
    margin: 20px auto;
    border-radius: 50px;
  }
  div.item h1 {
    text-align: center;
    font-size: 2rem;
  }
  div.item img {
    width: 80%;
  }
  div.productPhoto {
    text-align: center;
  }
  div.aboutUsItem {
    display: flex;
    flex-direction: row;
  }
  div.reverse {
    order: 2;
  }
  .aboutUsItem div {
    width: 50%;
    margin: 20px;
    text-align: center;
  }
  table {
    font-size: 1.2rem;
  }
  table tr:hover {
    background-color: rgb(62, 62, 131);
    color: aliceblue;
  }

  .imgContainer {
    text-align: center;
    width: 100%;
  }
  .careers img {
    width: 80%;
  }

  /*contact*/
  form textarea,
  form input {
    width: 50%;
    font-size: 20px;
  }
  .socials {
    display: flex;
    flex-direction: column;
    max-height: 180px;
    flex-wrap: wrap;
    margin: 20px auto;
    font-size: 15px;
    max-width: 600px;
  }
  div.social {
    width: 50%;
    font-size: 0.7rem;
  }
}
