* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 15vh;
  overflow: hidden;
}
.wrapper {
  width: 100vw;
}

main.container-fluid {
  padding: 0;
}
#carouselExampleControls {
  width: 100vw;
  height: 85vh;
}
#carouselExampleControls div,
#carouselExampleControls div img {
  height: 100%;
  object-fit: cover;
}

.menu-top a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 15vh;
  margin-left: 20px;
}
.logo span {
  display: inline-block;
  width: 10px;
}
header nav.active {
  left: 0%;
}
header nav {
  background-color: white;
  width: 70%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 15vh;
  left: -100%;
  transition: 0.3s;
}
header nav li {
  padding: 20px;
}
.menu-top {
  list-style: none;
}
.carousel-cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 85vh;
  margin: 0 auto;
}
.mainText {
  position: absolute;
  top: 30vh;
  left: 2%;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
}

@media (min-width: 768px) and (orientation: portrait) {
  .logo {
    font-size: 3rem;
  }

  .mainText {
    font-size: 4rem;
  }
  .menu-top a {
    font-size: 1.5rem;
  }
  header nav {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
  }

  .mainText {
    font-size: 4rem;
  }
  header nav {
    position: static;
    height: 15vh;
    width: 80%;
  }
  .logo i {
    display: none;
  }
  .logo {
    width: 20%;
  }
  header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 15vh;
  }
  header nav li {
    padding: 0 1.5rem;
  }
  header nav li a {
    font-size: 1.2rem;
  }
  header nav li:hover a {
    border-bottom: solid black 1px;
  }
  header.container-fluid {
    display: flex;
  }
}
